*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 10%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/*-------------------------------------------------------------*/

/*------------------------------------------ footer ------------------------------------*/
/* Footer */
footer {
  background-color: #1e3d59;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 0 0 300px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 14px;
  line-height: 1.5;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bfff;
}

.footer-bottom {
  background-color: #163552;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-info {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}