*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*--------------------------------------------- LOADER ------------------------------------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0077b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #b3e5fc, #4fc3f7);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loading-indicator img {
  width: 150px;
  height: 30px;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    max-width: 1000px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    opacity: 0; 
    animation: fade-in 1s ease-in-out forwards; 
    animation-delay: 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*----------------------------------------------- HOME ------------------------------------------------------------*/

.background{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Photo/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.background img{
    width: 100px;
    text-align: left;
}
.background h1{
    text-align: center;
    color: white;
    display: inline-block;
}

.header{
    border-radius: 5px;
    position: relative;
    padding: 5%;
    text-align: center;
    transform: translateY(20%);
}
.header h1{
    color: lightskyblue;
    font-size: 70px;
    text-align: center;
    font-weight: 600;
}
.header p{
    color: lightskyblue;
    text-align: center;
    font-weight: 500;
}

.button {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
  content: "Click Me!";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg,lightskyblue, CornflowerBlue, dodgerblue );
  transform: translate(0%,90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::after {
  content: "visit us!";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  transform: translate(0%,0%);
}

.button:hover::after {
  transform: translate(0%,-200%);
}

.button:focus {
  outline: none;
}

.button:active {
    scale: 0.95;
}

/*------------------------------------------------ Explain --------------------------------------------------------*/
header {
    background-color: #0077b6;
    text-align: center;
    padding: 1rem;
    color: #fff;
}
.row{
    background-color: lightskyblue;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-us h1:nth-child(1){
    text-align: center;
    font-size: 30px;
}
.exp-col{
    padding: 30px 2px;
    text-align: center;
}
.exp-col img{
    width: 30%;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}
.exp-col p{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    padding: 15px 0 25px;
    text-align: center;

}

/*---------------------------------------------------- Option ---------------------------------------------------*/
.backoption{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Photo/activity.jpg);
    background-position: center;
    background-size: cover;
}

.cont-option{
    display: flex;
    justify-content: space-between;
}

.card {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}
.card2 {
    width: 200px;
    height: 200px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: transform .2s;
}
.card2 img{
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    text-align: center;
    padding: 20px 50px;
}
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.layer {
    background: transparent;
    position: relative;
    transition: 0.5s;
}
.layer:hover{
    background-color: transparent;
}
.layer h3{
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}

/*------------------------------------------------------ footer ------------------------------------------------*/
footer {
  background-color: #1e3d59;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 0 0 300px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 14px;
  line-height: 1.5;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bfff;
}

.footer-bottom {
  background-color: #163552;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

/*----------------------------------------- MAKE IT RESPONSIVE --------------------------------------------------*/
/* For screens smaller than 768px (mobile devices) */
@media(max-width: 700px){
    .background h1{
        font-size: 20px;
        display: inline-block;
        margin-bottom: 5%;
        transform: translateY(-10%);
    }
    .header{
        width: 90%;
        color: whitesmoke;
        position: relative;
        text-align: center;
        margin: 10px 0 40px;
    }
    .header h1{
        font-size: 70px;
        text-align: center;
        font-weight: 600;
    }
    .header p{
        color: whitesmoke;
        text-align: center;
        font-weight: 500;
    }
    .row{
        flex-direction: column;
    }

}

@media (max-width: 767px) {
    .loading-indicator img {
        width: 120px;
        height: 24px;
    }
    .loading-text {
        font-size: 16px;
    }
    
    .cont-option {
        flex-direction: column;
        align-items: center;
    }

    .exp-col img {
        width: 50%;
    }
    .exp-col p {
        font-size: 16px;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    .header h1 {
        font-size: 48px;
    }

    .exp-col img {
    width: 40%;
    }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-info {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}