*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Lato', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------------------------------------------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0077b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #b3e5fc, #4fc3f7);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loading-indicator img {
  width: 150px;
  height: 30px;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    max-width: 1000px; /* Tambahkan batas maksimum lebar */
    white-space: nowrap; /* Mencegah teks memanjang ke bawah */
    overflow: hidden; /* Menyembunyikan teks yang melebihi lebar maksimum */
    text-overflow: ellipsis; /* Menambahkan tanda ellipsis (...) jika teks melebihi lebar maksimum */
    opacity: 0; /* Menambahkan opacity: 0 pada awal */
    animation: fade-in 1s ease-in-out forwards; /* Menambahkan animasi fade in */
    animation-delay: 0.3s; /* Menunda animasi selama 1 detik */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*-------------------------------------------------------------------------------------------------------*/
/* Gaya untuk header dan navigasi */
header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.school-logo, .library-logo {
  height: 50px;
  margin-right: 10px;
}

.collaboration-mark {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
  color: dodgerblue; /* Warna yang sesuai dengan tema laut */
}

.library-logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1abc9c;
}

.nav-active{
display: none;
}

.burger {
display: none;
cursor: pointer;
}

.burger div {
width: 25px;
height: 3px;
background-color: #fff;
margin: 5px;
transition: all 0.3s ease;
}

/* -------------------------------- Responsive Design buger ------------------------------------- */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2c3e50; /* Adjust background color */
    position: fixed; /* Make it fixed for sticky behavior (optional) */
    top: 0; /* Position at top (optional) */
    left: 0; /* Position at left (optional) */
    width: 100%; /* Make it full width */
    z-index: 10; /* Ensure it stays on top of content (optional) */
  }
    
  .nav-links {
      display: none;
  }

  .burger {
      display: block;
  }

  .nav-active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #2c3e50;
      padding: 20px;
  }

  .nav-active li {
      margin: 10px 0;
  }

  .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
      opacity: 0;
  }

  .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }
  .nav-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed; /* Ubah dari absolute menjadi fixed */
    top: 80px; /* Sesuaikan dengan tinggi header */
    left: 0;
    right: 0; /* Tambahkan properti right: 0 */
    width: 100%;
    background-color: #2c3e50;
    padding: 20px;
    z-index: 999; /* Tambahkan z-index agar navigasi di atas konten lain */
  }
}

.LC{
    height: 50vh;
    width: 100%;
    background: url(wave2.svg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.LC h1{
    margin-top: 2%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.LC img{
    width: 140px;
}

.header {
  text-align: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  background-color: #0077b6;
  padding: 1rem;
  color: #fff;
}
/*-------------------------------------------------- Opening --------------------------------------------------*/
.about-col{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    border-radius: 10px;
    outline-color: skyblue;
    outline: 10%;
    outline-width: thick;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

/*-------------------------------------------- slideshow ----------------------------------------------------*/
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 40%;
}

.slideshow-container img{
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(135, 206, 235, 0.3);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 10px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*------------------------------------------ visi misi ------------------------------------------------*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.container h1 {
  font-size: 36px;
  color: #0077b6;
  margin-bottom: 40px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 24px;
  color: #0077b6;
  margin-bottom: 20px;
}

.card p, .card ol {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}

.card ol {
  padding-left: 20px;
}

/*------------------------------------------- acitivity photo -------------------------------------------------*/
.row{
    width: 95%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.activity-photo{
    flex-basis: 10%;
    margin-bottom: 5%;
}
.activity-photo img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform .0.5s;
    transition: 1s;
}
.activity-photo img:hover{
    transform: scale(0.7);
}
.activity-photo p{
    margin-bottom: 15px;
    text-align: center;
}
.activity-photo h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/*--------------------------------------------- Struktur Organisasi ---------------------------------------------*/
/* Struktur Organisasi */
.org-chart {
    background-size: contain;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Photo/lc.png);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.employee {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  margin: 0 1rem;
  position: relative;
}

.image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.position {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.details {
    width: 200px;
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0077b6;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1;
}

.employee:hover .details, 
.employee.active .details {
  display: block;
}

/*---------------------------------------------- Anggota LC -------------------------------------------------------*/

.anggota-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-size: cover;
    background-image: url(Photo/library.jpg);
}

.anggota {
    margin: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.anggota img {
    width: 120px; 
    height: auto;
    object-fit: cover; 
    aspect-ratio: 10/9;
    margin: 5px; 
    border-radius: 30px;
}

.anggota h3 {
  margin-bottom: 5px;
}

.anggota p {
  margin: 5px;
}

.anggota:hover .info {
  opacity: 1;
  visibility: visible;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.counter {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #01579b; /* Warna biru laut tua */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	background: linear-gradient(45deg, #4fc3f7, #29b6f6); /* Gradien biru laut */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.counter:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
/*---------------------------------------------------------- call to action -------------------------------------------------------*/
.cta{
  margin: 100px auto;
  width: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("Photo/LC WA/45.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.collaboration-mark1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
  color: white;
}

@media(max-width: 700px){
		.cta{
			width: auto;
		}
		.cta h1{
		font-size: 24px;
		}
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #36aef4;
  background: #36aef4;
  transition: 1s;
}
/*---------------------------------------- footer ---------------------------------------------------------*/
/* Footer */
footer {
    position: relative;
  background-color: #1e3d59;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 0 0 300px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 14px;
  line-height: 1.5;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bfff;
}

.footer-bottom {
  background-color: #163552;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

/*-------------------------------- Media queries for responsiveness --------------------------------------------*/
/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
    /* loading */
    .loading-indicator img {
        width: 120px;
        height: 24px;
    }
    .loading-text {
        font-size: 16px;
    }

    /* LC */
    .LC {
        height: 35%;
        padding: 60px 0;
    }
    .LC h1 {
        font-size: 24px;
        margin-top: 0;
    }
    .LC img {
        width: 60px;
    }
    
    /* Visi & misi */
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }
	
    .card {
        width: 80%;
        margin: auto;
    } 

    .card h2 {
        font-size: 20px;
    }

    .card p, .card ol {
        font-size: 14px;
    }

    /* Slideshow */
    .slideshow-container {
        max-width: 70%;
    }

    /* Activity */
    .row{
		justify-content: center;
		flex-wrap: wrap;
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    
    .activity-photo {
		text-align: center;
		text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 150px;
    }
    
    /* Struktur */
    .level {
		justify-content: center;
		flex-wrap: wrap;
        display: flex;
        align-items: center;
        margin-top: 20px;
	}

	.employee {
		flex-basis: 10%;
		margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 150px;
		background-color: #fff;
		padding: 1rem;
		border-radius: 5px;
		text-align: center;
		margin: 10px 1rem;
		position: relative;
	}

	.image img {
		width: 120px;
		height: 120px;
	}
	
	.name {
		font-size: 1rem;
	}

	.position {
		font-size: 0.9rem;
	}

	.details {
		width: 150px;
		display: none;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		background-color: #0077b6;
		color: #fff;
		padding: 1rem;
		border-radius: 5px;
		z-index: 10;
	}

    /* Anggota */
    .anggota-container {
        padding: 20px 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .anggota {
        margin: 10px;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
}

/* For screens between 768px and 1024px (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    /* LC */
    .LC h1 {
        font-size: 30px;
        margin-top: 5%;
    }
    .LC img {
        width: 80px;
    }

    /* Opening */
    .about-col {
        width: 90%;
        padding: 40px;
    }

    /* Slideshow */
    .slideshow-container {
        max-width: 80%;
    }
    
    /* Visi Misi */
    .card {
        width: 80%;
        margin: 20px auto;
    }

    /* Activity Photo */
    .row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .activity-photo {
        flex-basis: 30%;
        margin: 20px;
    }

    /* Org Chart */
    .org-chart {
        padding: 30px;
    }

    /* Anggota */
    .anggota-container {
        padding: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* For screens larger than 1024px (desktops) */
@media (min-width: 1025px) {
  /* Opening */
  .about-col {
    width: 80%;
    padding: 60px;
  }
    
  /* Visi Misi */
  .card {
    width: 300px;
    margin: 20px auto;
  }
}