*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: 'Lato', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------------------------------------------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0077b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.wave-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #b3e5fc, #4fc3f7);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.loading-indicator img {
  width: 150px;
  height: 30px;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    max-width: 1000px; /* Tambahkan batas maksimum lebar */
    white-space: nowrap; /* Mencegah teks memanjang ke bawah */
    overflow: hidden; /* Menyembunyikan teks yang melebihi lebar maksimum */
    text-overflow: ellipsis; /* Menambahkan tanda ellipsis (...) jika teks melebihi lebar maksimum */
    opacity: 0; /* Menambahkan opacity: 0 pada awal */
    animation: fade-in 1s ease-in-out forwards; /* Menambahkan animasi fade in */
    animation-delay: 0.3s; /* Menunda animasi selama 1 detik */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
    /* loading */
    .loading-indicator img {
        width: 120px;
        height: 24px;
    }
    .loading-text {
        font-size: 16px;
    }
}
/*-----------------------------------------------------------------------------------------------------*/
/* Ocean Theme Styles */
.body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.767)), url('Photo/login.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.benefits {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.benefits h2 {
    margin-top: 0;
}

.benefits ul {
    list-style-type: none;
    padding: 0;
}

.benefits li {
    margin-bottom: 10px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00b7ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077b6;
}

#response {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

/*------------------------------------------ footer ------------------------------------*/
/* Footer */
footer {
  background-color: #1e3d59;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  flex: 0 0 300px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 14px;
  line-height: 1.5;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bfff;
}

.footer-bottom {
  background-color: #163552;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-info {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
}
